.about-intro {
  @include clearfix;
  margin-bottom: 40px;

  &__left {
    width: 50%;
    float: left;

    img {
      width: 90%;
      margin: 0 auto;
      display: block;
    }

    

  }

  &__right {

    // width: 50%;
    // float: left;

    p {
      margin-bottom: 25px;
      color: $black;
      font-size: 18px;
      line-height: 22px;
    }

  }
}

.about-details {

  margin-bottom: 40px;

  p {
    font-size: 18px;
    line-height: 22px;
    color: $black;
    margin-bottom: 25px;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__bottom {
    
    h2 {
      text-transform: none;
      color: $slate;
      font-size: 24px;
      font-family: $copy-font;
    }

    p {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 5px;
    }

  }

}