.blog-page {
  @include clearfix;

  &__title {
    padding-left: 50px;
    margin: 50px 0 70px;

    @include media($tablet) {
      margin: 30px 0;
    }

    @include media($mobile) {
      margin: 10px 0;
      padding-left: 15px;
    }
  }

  .blog-index {

    &-item {
      padding: 30px 0;
      border-bottom: 1px solid $slate;

      @include media($mobile) {
        padding: 15px 0 0;
      }

      &:last-of-type {
        border-bottom: 0;
      }

    }

    .navigation h2 {
      display: none;
    }

    .nav-links {
      text-align: center;
      font-size: 18px;
      margin: 30px 0;

      .page-numbers {
        margin: 0 5px;
      }

      .next {
        display: none;
      }
    }
  }
}

.moretag {
  display: block;
  text-decoration: underline;
  font-style: italic;
  font-family: $primary-font;
  font-size: 14px;
}

.blog {

  .footer__top__left {
    display: none;
  }

  .footer__top__right {
    float: none;
    width: 333px;
    margin: 0 auto;

    @include media($sm-phone) {
      width: auto;
    }
  }
}

