.blog-index-item {
  @include clearfix;

  &__thumb {
    display: block;
    float: left;
    width: 180px;
    height: 180px;
  }

  &__info {
    display: block;
    float: left;
    width: calc(100% - 180px);
    padding-left: 20px;
  }

  &__date {
    font-family: $primary-font;
    font-size: 13px;
    line-height: 13px;
    display: block;
    margin-bottom: 10px;
  }

  &__title {
    color: $slate;
  }

  p {
    line-height: 20px;
  }

  // &__excerpt {
  //   line-height: 20px;
  // }
}