.consult-body {
  padding-top: 40px;

  &__intro {
    margin-bottom: 60px;

    p {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__expect {
    padding-bottom: 40px;

    h2 {
      font-style: normal;
    }
  }

  &__point {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    color: $black;
    padding-left: 75px;
    margin-bottom: 15px;

    @include media($mobile) {
      padding-left: 25px;
    }

    &:before {
      position: absolute;
      content: '';
      background-color: $sea-blue;
      height: 4px;
      width: 4px;
      border-radius: 50px;
      top: 8px;
      left: 30px;

      @include media($mobile) {
        left: 7px;
      }
    }
  }

  &__pricing {
    display: none;
    
    padding-top: 40px;
    background-color: $light-green;
    font-family: $primary-font;
    color: $slate;
    font-weight: 200;
    padding-bottom: 40px;

    h1 {
      color: $white;
      margin-bottom: 15px;
    }

    h2 {
      color: $black;
      font-style: normal;
      margin-bottom: 15px;
    }

    &__item-list {
      margin-bottom: 50px;
    }

    .price-item {
      font-size: 28px;

      @include media($mobile) {
        font-size: 22px;
      }

      &__cost {
        color: $black;
      }
    }

    .package-item {
      font-size: 28px;

      @include media($mobile) {
        font-size: 22px;
      }

      &__cost {
        color: $black;
      }
    }

    .pricing-disclaimer {
      font-size: 18px;
      color: $black;
      font-style: italic;
      margin-top: 20px;
      display: block;
      font-weight: 400;
    }
  }

  &__cta__section {
    padding: 40px 0;
    border-bottom: 1px solid $slate;

    &:last-of-type {
      border-bottom: none;
    }

    p {
      font-size: 22px;
      line-height: 24px;
    }

    .button {
      display: block;
      margin: 30px auto 0;
      text-transform: uppercase;
      font-size: 22px;
      max-width: 310px;
      text-align: center;

      @include media($sm-phone) {
        font-size: 18px;
      }
    }
  }
}



