.elements{
  @include clearfix;
  margin-top: 40px;
}

.element-item{
  width: calc(33.333% - 40px);
  float: left;
  display: inline-block;
  margin-right: 60px;

  @include media($mobile) {
    width: calc(33.333% - 7px);
    margin-right: 10px;
  }

  &:last-of-type {
    margin-right: 0;

    @include media($mobile) {
      margin-right: 0;
    }
  }

  &:hover {
    img {
      opacity: 1;
    }

    h1 {
      color: $light-green;
    }
  }

  img{
    width: 100%;
    opacity: .85;
    @include transition(opacity .3s ease-in-out);
    border-radius: 25px;
  }

  h1 {
    text-align: center;
    color: $slate;
    margin-top: 10px;
    @include transition(color .3s ease-in-out);

    @include media($mobile) {
      font-size: 20px;
    }
  }

}