.faq-body {
  padding: 40px 0;
}

.faq-links {
  margin-bottom: 40px;

  a {
    font-size: 20px;
    line-height: 22px;
    color: $sea-blue;

    &:hover {
      color: lighten($sea-blue, 30%);
    }
  }
}

.faq-section {
  margin-bottom: 40px;

  h1 {
    font-style: normal;
    line-height: 39px;
  }

  p {
    font-size: 20px;
    line-height: 22px;
    color: $black;

    a {
      color: $sea-blue;

      &:hover {
        color: lighten($sea-blue, 30%);
      }
    }
  }

  ul {
    margin-top: -15px;
    padding-left: 30px;
    color: $black;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: .75em;
  }
}

.physical-item {
  @include clearfix;

  &__left {
    width: 158px;
    float: left;
    padding-left: 30px;

    @include media($mobile) {
      padding-left: 0;
      width: 130px;
    }
  }

  &__right {
    width: calc(100% - 158px);
    float: left;
    padding-left: 20px;

    @include media($mobile) {
      width: calc(100% - 130px);
    }
  }
}