.footer {

  &__top {
    background-color: $white;
    padding: 40px 0;

    .social-icons {
      color: $_aqua-green;
      font-size: 30px;
      a {
        color: inherit;

        &:hover {
          opacity: .7;
        }

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }

    .email-link {
      color: $_aqua-green;
      font-size: 18px;
      &:hover {
        opacity: .7;
        text-decoration: none;
      }
    }

    &__left {
      @include span-columns(8);
    }

    &__right {
      @include span-columns(4);
    }

  }

  &__bottom {
    background-color: $white;
    padding: 10px 0;
    border-top: 1px solid $slate;
    position: relative;
    font-family: $primary-font;

    &__left {
      width: 175px;
      display: block;
      float: left;
      margin-right: 0;

      img {
        width: 100%;
      }
    }

    &__center {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }

    &__right {
      float: right;
    }

    .social-icons {
      color: inherit;
      display: inline-block;
      padding-top: 4px;
      a {
        color: inherit;
        font-size: 20px;
        margin-right: 0;

        &:hover {
          opacity: .7;
        }

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }

    a {
      color: inherit;
      font-size: 14px;
      margin-right: 20px;
      &:hover {
        opacity: .7;
        text-decoration: none;

      }
    }

  }

  .button {
    display: block;
    max-width: 250px;
    margin: 10px 0;
    text-align: center;
  }

}