.footer {

  &__top {
    background-color: $white;
    padding: 40px 0;

    .social-icons {
      color: $_aqua-green;
      font-size: 30px;
      a {
        color: inherit;

        &:hover {
          opacity: .7;
        }

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }

    &__left {
      @include span-columns(8);

      h2 {
        margin-bottom: 30px;

        a {
          text-decoration: underline;
        }
      }
    }

    &__right {
      @include span-columns(4);
      text-align: center;

      h2 {
        margin-bottom: 30px;
      }

      .button {
        margin: 0 auto 30px;
      }

      .social-icons {
        color: $light-green;
      }

      .email-link {
        color: $slate;
        font-size: 18px;
        font-family: $primary-font;
        font-weight: 200;
      }
    }

  }

  &__bottom {
    background-color: $white;
    padding: 20px 0;
    border-top: 1px solid $slate;
    position: relative;
    font-family: $primary-font;

    &__left {
      width: 175px;
      display: block;
      float: left;
      margin-right: 0;
      height: 31px;

      img {
        width: 100%;
      }
    }

    &__center {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));

      .email-link {
        font-size: 14px;
        color: $slate;
        margin-right: 20px;
        padding-top: 4px;
        float: left;

        &:hover {
          color: lighten($slate, 20%);
        }
      }

    }

    &__right {
      float: right;
      margin-top: 6px;
      font-size: 14px;

      a {
        text-decoration: underline;
      }
    }

    .social-icons {
      color: inherit;
      display: inline-block;
      padding-top: 4px;
      a {
        color: inherit;
        font-size: 20px;
        margin-right: 0;

        &:hover {
          opacity: .7;
        }

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }

  }

  .button {
    display: block;
    max-width: 182px;
    text-align: center;
  }

}