.header{

  &__inner {
    @include position(relative);
  }

  &__top {
    height: 50px;
    background-color: $light-green;
    .button {
      display: inline-block;
      margin-top: 8px;
    }

    &__form {
      float: right;
      min-width: 500px;
      text-align: right;
    }
  }

  .logo-wrap {
    float: left;

    img {
      width: 300px;
    }
  }

  .menu-primary-container {
    float: right;

  }

  .primary-menu {
    text-align: right;
    margin-top: 28px;

    li {
      display: inline-block;
      margin-left: 20px;

      &.current_page_item a {
        color: $light-green;
        font-weight: 600;
      }

    }

    a {
      font-size: 16px;
      color: $slate;
      font-weight: bold;
      &:hover {
        color: $light-green;
      }
    }

  }

  &__bottom {
    height: 75px;
    background-color: transparent;
    @include transition(background-color .3s ease-in-out);
  }

  .logo {
    margin-top: 12px;
  }

  .button--transparent {
    border-color: $white;
    width: 181px;
    text-align: center;
    margin-left: 15px;
  }

}