.header{

  &__inner {
    @include position(relative);
  }

  &__top {
    height: 50px;
    background-color: $light-green;
    .button {
      display: inline-block;
      margin-top: 8px;
    }

    &__form {
      float: right;
      min-width: 500px;
      text-align: right;

      @include media($med-mobile) {
        float: none;
        min-width: 0;
        text-align: left;
      }
    }
  }

  .logo-wrap {
    float: left;

    img {
      width: 300px;

      @include media($med-mobile) {
        width: 230px;
      }
    }
  }

  .menu-primary-container {
    float: right;

    @include media($large-tablet) {
      position: absolute;
      right: 0;
      float: none;
      width: 100vw;
      background-color: $white;
      padding: 100px 50px;
      @include transition(all .3s ease-in-out);
      //right: -100%;
      @include transform(translateX(-100%));

      &.menu-open {
        @include transform(translateX(0));
        z-index: 1;
      }

    }

  }

  .primary-menu {
    text-align: right;
    margin-top: 28px;

    @include media($large-tablet) {
      margin-top: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      margin-left: 20px;

      &.current_page_item a {
        color: $light-green;
        font-weight: 600;
      }

      @include media($large-tablet) {
        display: block;
        margin-left: 0;
      }

    }

    a {
      font-size: 16px;
      color: $slate;
      font-weight: bold;
      &:hover {
        color: $light-green;
      }

      @include media($large-tablet) {
        font-size: 24px;
      }
    }

  }

  &__bottom {
    height: 75px;
    background-color: transparent;
    @include transition(background-color .3s ease-in-out);

    @include media($large-tablet) {
      position: relative;
    }
  }

  .logo {
    margin-top: 12px;

    @include media($med-mobile) {
      margin-top: 17px;
    }
  }

  .button--transparent {
    border-color: $white;
    width: 181px;
    text-align: center;
    margin-left: 15px;

    @include media($med-mobile) {
      width: auto;
    }
  }

}