.intro{
  background-color: transparent;
  
  &__title-wrap {
    padding: 40px 60px 20px;
  }

  h1 {
    font-size: 42px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
  }

  p {
    font-size: 22px;
    line-height: 24px;
  }

  // a{
  //   color: $_sea-green;
  //   text-decoration: underline;
  //   &:hover{
  //     color: $_sea-green-light;
  //   }
  // }
}