// VARIABLES

//Colors

$black: #000000;
$white: #FFFFFF;
$_sea-green: #15675F;
$_sea-green-light: #BADAD4;
$_yellow-green: #374202;
$_navy: #152132;
$_aqua-green: #378480;

$light-green: #a9decb;
$sea-blue: #85a5ad;
$slate: #53676c;

//Fonts

$primary-font: 'Helvetica', sans-serif;
$secondary-font: 'Alegreya', serif;

$title-font: $primary-font;
$copy-font: $secondary-font;

//Misc

$border-radius-size: 10px;

#page{
  //min-height: 3000px;
}